body{
    font:100% arial, helvetica,serif;
}
table{
    border-collapse: collapse;
}
caption{
    border-style: groove;
    font-size:.8125em;
    font-weight:bold;
    margin-bottom:.5em;
}
th{
    border-style: groove;
    font-size:.875em;
    padding:.5em .75em;
}
td{
    border-style: groove;
    width:200px;
}
tfoot{
    font-style:italic;
    font-weight:bold;
}
.td-input{
    width:100%;
    border:none;
    background:transparent;
    outline:none;
    padding:8px;
    box-sizing:border-box;
}
.recibo{
    background-color:#fff;
    max-width:600px;
    margin:0 auto;
    padding:30px;
    border-style:groove;
    border-radius:8px;
    box-shadow:0 4px 8px rgaba(0,0,0,0,1);
}